<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="user" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
    </symbol>
</svg>

@* Encabezado *@
<main>

    <header style="background-color:#FF1100" class="containerp-3 pb-lg-2  text-white">

        <div>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <a href="/">
                    <img style="margin-left: 150px;margin-right: 40px;margin-bottom: 0;padding-bottom: 0;" src="/Images/Icons/LOGO.png" alt="mdo" width="70">
                </a>

                <ul class="nav col-8 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="peliculas/crear" class="nav-link px-2 text-white">Peliculas</a></li>
                    <li><a href="/personas" class="nav-link px-2 text-white">Actores</a></li>
                    <li><a href="/generos" class="nav-link px-2 text-white">Generos</a></li>
                </ul>
                <a href="peliculas/buscar">
                    <img style="margin-bottom: 0; padding-bottom: 0;" src="/Images/Icons/buscar.png" alt="Buscar">
                </a>
                <a href="/">
                    <img style="margin-bottom: 0; padding-bottom: 0; padding-left: 20px;" src="/Images/Icons/login.png" alt="login">
                </a>
                <a href="/">
                    <img style="margin-bottom: 0;padding-bottom: 0;padding-left: 20px;" src="/Images/Icons/salir.png" alt="salir">
                </a>


            </div>
        </div>

    </header>

</main>